EVIDENCE3D_ROOT=/home/research/research/evidence3d
EVIDENCE3D_DATA_ROOT=/home/research/research/evidence3d/data/nuscenes-mini
# EVIDENCE3D_PROTOCOL=/home/research/research/evidence3d/protocols/example_mini_protocol.json
# EVIDENCE3D_DISABLE_RANDOM_CORRUPTION=1
